body{
	background-color: #97A445;
}
#title{
	width: 359px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}
#video{
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}
#widget{
	width: 336px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}
